body {
  font-family: "Segoe UI", sans-serif;
  color: #000000;
}

.header-panel {
  font-family: "Segoe UI Semibold", sans-serif;
  background-color: #496ecc;
}

.pages h1 {
  font-family: "Segoe UI Semibold", sans-serif;
  color: #496ecc;
}

.QuestionDiv {
  background-color: #f0f3fc;
}

.EndDiv {
  text-align: center;
  font-size: 40px;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: white;
        background-color: #3a496e;
    }

        .nav-pills > li.active > a:hover {
            background-color: #3a496e;
            color: white;
        }