body {
  font-family: "Segoe UI", sans-serif;
  color: #000000;
}

.header-panel {
  font-family: "Segoe UI Semibold", sans-serif;
  background-color: #E40019;
}

.pages h1 {
  font-family: "Segoe UI Semibold", sans-serif;
  color: #E40019;
}

.QuestionDiv {
  background-color: #fff5f5;
}

.EndDiv {
  text-align: center;
  font-size: 40px;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: black;
        background-color: #fcd900;
    }

        .nav-pills > li.active > a:hover {
            background-color: #efcb00;
            color:black;
        }