body {
  font-family: Segoe UI, Sans-serif;
  color: #000000;
}

.header-panel {
  background-color: #E40019;
}

.pages h1 {
  color: #E40019;
}

.QuestionDiv {
  background-color: #fff5f5;
}

.EndDiv {
  text-align: center;
  font-size: 40px;
}
